* {
    box-sizing: border-box;
    border: 1px solid black;
}
body {
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;   
}

.text {
    padding: 0.5rem;
}

header nav ul { 
    margin: 0;   
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
    align-content: space-between;
    padding: 0.5rem;
}

header nav ul li {
    margin: 0.5rem;
}

header nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 700;
}


@media only screen and (min-width: 700px) {

main  {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 1fr 20rem 1fr 3rem;
    gap: 0.5rem;
    
}

main  > .left {
    background-image: url('media/BoyneBattleHouse.jpg');
    background-size: cover;
    grid-area: 1 / 1 / span 1/ span 3;
    height:30rem;
}

main  > .center {
    grid-area: 1 / 4 / span 1/ span 2;
    height:30rem;
}

.center > .text {
    margin-top: 60%;
}

main  > .right {
    background-image: url('media/foothpath-cut.jpg');
    background-size: cover;
    grid-area: 1 / 6 / span 1 / span 1;
    height:30rem;
}

main > .forestImg {
    grid-area: 2 / 1 / span 1 / span 1;   

}

main > .joinUs-text {
    grid-area: 2 / 2 / span 1 / span 5; 
}

main > .location {
    grid-area: 3 / 1 / span 1 / span 6;   
    display: flex;
    justify-content: space-around;

}

.location > div {
    width: 20rem;
}

.location > div > img {
    height: 15rem;
}

.button {
   grid-area: 4 / 2 / span 1 / span 4;
   text-align: center; 
}

}


