* {
    box-sizing: border-box;
}

body {
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: #979934;
 }

 button {
    padding: .9rem;
    background-color: #64b319;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.text {
    padding: 0.5rem;
}

header nav ul { 
    margin: 0;   
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
    align-content: space-between;
    padding: 0.5rem;
}

header nav ul li {
    margin: 0.5rem;
}

header nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 700;
}

main  {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 30rem 20rem 1fr 5rem;    
}

main  > .left {
    background-image: url('media/BoyneBattleHouse.jpg');
    background-size: cover;
    grid-area: 1 / 1 / span 1/ span 3;
    height:30rem;
    border: 1px solid black;
}

main  > .center {
    grid-area: 1 / 4 / span 1/ span 1;
    height:30rem;
    background-color: #979934;
    border: 1px solid black;
}

.center > .text {
    margin-top: 60%;
}

main  > .right {
    background-image: url('media/foothpath.jpg');
    background-size: cover;
    grid-area: 1 / 5 / span 1 / span 2;
    height:30rem;
    border: 1px solid black;
}


@media only screen and (max-width: 600px) {
    main  {
        display: grid;
        grid-template-columns: repeat(6 , 1fr);
        grid-template-rows: auto;
        gap: 0.5rem;        
    }
    
    main  > .left {
        background-image: url('media/BoyneBattleHouse.jpg');
        background-size: cover;
        grid-area: 1 / 1 / span 1/ span 6;
        height:30rem;
    }
    
    main  > .center {
        grid-area: 1 / 1 / span 1/ span 3;
        height:30rem;
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .center > .text {
        margin-top: 40%;
    }
    
    main  > .right {
        display: none;
    }
    
    main > .forestImg {
        display: none; 
    }
    
    main > .joinUs-text {
        grid-area: 2 / 1 / span 1 / span 6; 
        margin-left: -5rem;      
    }

    main > .joinUs-text > .text {
        text-align: center; 
    }
    
    main > .location {
        grid-area: 3 / 1 / span 1 / span 6;   
        display: flex;
        flex-direction: column;    

    }
    
    .location > div {
        width: 90%;
        margin: 0.2rem auto;
        justify-content: space-around;
    }
    
    .location > div > img {
        height: 15rem;
    }
    
    .button {
       grid-area: 4 / 2 / span 1 / span 4;
    }
}
/* end of phone media query*/

main > .forestImg {
    grid-area: 2 / 1 / span 1 / span 1; 
    padding: 0.5rem;   
    height: 20rem;
    width: 15rem;
    z-index: 2;
    background-color: #979934; 
}

main > .joinUs-text {
    grid-area: 2 / 2 / span 1 / span 5; 
    background-color: #979934;  
    text-align: left; 
}

main > .location {
    grid-area: 3 / 1 / span 1 / span 6;   
    display: flex;
    justify-content: space-around;
    background-color: #64b319;
    padding: 0.5rem;
    border: 1px solid black;
    
}

.location > div {
    width: 20rem;
    padding: 1rem;
    background-color: whitesmoke;    
    -webkit-box-shadow: 2px 6px 6px -1px rgba(0,0,0,0.69); 
    box-shadow: 2px 6px 6px -1px rgba(0,0,0,0.69);
    background-color: #979934;
}

.location > div > img {
    height: 15rem;
}

.button {
   grid-area: 4 / 2 / span 1 / span 4;
}

footer {
    text-align: left;
    height: 1rem;
    padding: 1rem;
}




